<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <h3 class="pt-4 pb-3">Title</h3>
  <ul class="list-group">
    <li *ngFor="let person of people; let b = index" class="list-group-item">
      <div class="row">
        <div class="col-8">
          {{ person.id }} :
          {{ person.title }}
        </div>
        <div class="col-4 text-right">
          <button type="button" class="btn btn-primary btn-sm mr-1" (click)="open(edit, person.id, person.title, b)">Edit</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="open(delete, person.id, person.title, b)">Delete</button>
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input type="text" name="editTitle" class="form-control" [(ngModel)]="editTitle" required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="updateFunction()">Edit</button>
  </div>
</ng-template>

<ng-template #delete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-warning" id="modal-basic-title">Warning!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do you Really Want to Delete this Title ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteFunction()">Yes</button>
  </div>
</ng-template>
